:root {
  --dark-green: #0c3c01;
  --hunter-green: #5b6d49;
  --beige: #f1f2ed;
  --brown: #2e2d1d;
  --light-green: #a2ac82;
  --drop-shadow: drop-shadow(3px 3px 3px #0000000d);
  --heading-background: linear-gradient(
    to right,
    var(--dark-green),
    var(--hunter-green)
  );
}

/* because html doesn't let you style file inputs yourself... gotta hide it */
input[type="file"] {
  display: none;
}

input[type="button"],
input[type="submit"] {
  padding: 5px;
  border-radius: 0px;
  background-color: #1d8f03;
  border: 0px;
  color: white;
  cursor: pointer;
}

main {
  filter: drop-shadow(3px 3px 3px #0000000d);
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsBold";
  src: url("/src/assets/Poppins-Bold.ttf") format("truetype");
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: var(--light-green);
  margin: 0 auto;
  color: var(--body-font-color);
}

input {
  padding: 0.25em;
}

input:focus {
  outline: none;
}

a {
  color: var(--dark-green);
}

button {
  font-weight: 600 !important;
  border-width: 2px;
  border-radius: 4px 4px 0px 0px;
  line-height: 1;
  padding: 0.75rem 0.75rem 0.625rem;
  cursor: pointer;
  color: white;
  transition: 0.15s;
  border-color: var(--dark-green);
  background-color: var(--dark-green);
}

button.active {
  background-color: var(--light-green);
  color: var(--dark-green);
}

.greenButton {
}

button:hover {
  background-color: var(--hunter-green);
}

.whiteButton {
  border-color: var(--button-dark);
  color: var(--button-dark);
  background-color: white;
}

.whiteButton:hover {
  background-color: var(--button-dark);
  border-color: var(--button-dark);
  color: #fff;
}
