.half {
  min-width: 45%;
  max-width: 45%;
  border: 1px solid var(--dark-green);
  background-color: var(--beige);
  filter: var(--drop-shadow);
  margin-top: 25px;
  min-height: 95%;
}

.half img {
  max-width: 95%;
}

.previewImg {
  max-width: 75%;
}

.whole {
  display: flex;
  justify-content: space-evenly;
}
