.half {
  min-width: 95%;
  max-width: 95%;
  border: 1px solid var(--dark-green);
  background-color: var(--beige);
  filter: var(--drop-shadow);
  margin-top: 25px;
  min-height: 95%;
}

.half img {
  max-width: 95%;
}

.previewImg {
  max-width: 75%;
}

.predictionBox {
  padding: 10px;
  margin: 25px;
  background-color: var(--light-green);
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label img {
  max-height: 50vh;
}

.customUpload {
  border: 1px dashed gray;
  color: grey;
  background-color: transparent;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  width: 66%;
  margin: 15px auto;
}

.whole {
  display: flex;
  justify-content: space-evenly;
}
